
.controlButton{
    text-align: center;
    border-radius: 40%;
    width: 120px;
    height: 60px;
    cursor: pointer;
    background-color: plum;
    color: black;
}
.controlButton:active{
    background-color: rebeccapurple;
    color: white;
 }